<%= form_for [refinery, :news, :admin, @item] do |f| %>
  <%= render "/refinery/admin/error_messages",
             :object => @item,
             :include_object_name => true %>

  <%= render '/refinery/admin/locale_picker', :current_locale => Globalize.locale %>

  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>

  <div class='field'>
    <%= f.label :publish_date %>
    <%= f.datetime_select :publish_date %>
  </div>

  <div class='field'>
    <%= f.label :expiration_date %>
    <%= f.datetime_select :expiration_date, :start_year => Time.now.year,
                                            :include_blank => true %>
  </div>

  <div class='field'>
    <%= f.label :body %>
    <%= f.text_area :body, :rows => "20", :class => "wysiwyg widest", :data => { :body_class => f.to_param } %>
  </div>

  <div class="rightbar">
    <ul>
      <li><%= link_to "Images", "#images_container" %></li>
      <li><%= link_to "Files", "#files_container" %></li>
    </ul>

    <div id="files_container">
      <p>
        <b>Drag and drop these files into the editor:</b>
      </p>
      <ul>
        <% Refinery::Resource.all.each do |resource| %>
          <li><%= link_to resource.title, resource.url %></li>
        <% end %>
      </ul>
    </div>

    <div id="images_container">
      <p>
        <b>Drag and drop these images into the editor:</b>
      </p>
      <ul>
        <% Refinery::Image.all.each do |image| %>
          <li>
            <div class="box_of_holding"><%= image_tag image.url %></div>
            <%= image.title %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class='field'>
    <%= f.label :source %>
    <%= f.text_field :source, :class => "larger widest" %>
  </div>

  <%= render "/refinery/admin/form_actions",
             :f => f,
             :continue_editing => true,
             :delete_title => t('admin.news.items.item.delete'),
             :delete_confirmation => t('shared.admin.delete.message', :title => @item.title) %>

<% end %>
