<div class='ad'>
  <%= raw @page.content_for(:banner_ad) %>
</div>
<div id="now_playing" class="home_box side">
  <h2>Now Playing</h2>
  <p>This should be currently playing stuff and a link to history</p>
</div>
<div id="news" class="home_box main">
  <h2><%= link_to "WVBR News", '/news' %></h2>
  <%= render partial: 'refinery/news/items/recent_posts' %>
</div>
<div id="sports" class="home_box side">
  <h2><%= link_to "Ithaca Sports", '/sports' %></h2>
  <%= render partial: 'refinery/blog/shared/post', collection: @sports %>
</div>
<div id="blog" class="home_box main">
  <h2><%= link_to "From Our DJs", Refinery::Blog.page_url %></h2>
  <%= render partial: 'refinery/blog/shared/post', collection: @posts %>
</div>
<div class="ad">
  <%= raw @page.content_for(:footer_ad) %>
</div>
